<div class="flex-row justify-items-end mt-2 mb-2 responsive-container">
@if(allDecorativeMagnets().length > 0) {
    <div class="grid grid-cols-4 gap-3 responsive-columns">  
        @for(decorativeMagnet of allDecorativeMagnets(); track decorativeMagnet.id) {
            <div class="card bg-base-100 w-95 shadow-sm border-1 border-dashed border-neutral">            
                <figure 
                    class="flex justify-items-center content-center h-115" 
                    [routerLink]="['details', decorativeMagnet.id]">
                    @if(this.allThumbnailsLoaded()) {
                        @let thumbnail = getThumbnail(decorativeMagnet.thumbnailId ?? 0);
                        @if(thumbnail) {
                            <img
                                [src]="thumbnail.base64"
                                [alt]="decorativeMagnet.name"
                                [title]="decorativeMagnet.name"
                                class="max-h-full w-auto rounded-md"
                                [routerLink]="['details', decorativeMagnet.id]" />
                        }
                    }     
                </figure>
                <div class="pb-1">
                    <h2 class="card-title justify-center ms-1 me-1 text-center">{{decorativeMagnet.name}}</h2>
                </div>
                <div class="flex flex-row align-center justify-center p-0 mb-1">
                    <ul class="menu-horizontal bg-base-200 rounded-box p-0">
                        <li class="me-1">
                            <a (click)="openFullScreen(decorativeMagnet)">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 rounded">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                                </svg>
                            </a>
                        </li>
                        <li class="me-1">
                            <a [routerLink]="['details', decorativeMagnet.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 rounded">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['create-or-update', decorativeMagnet.id]">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 rounded">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>       
        }
    </div>
}
</div>
@if(isFullScreen()) {
    <app-fullscreen 
        [name]="this.fullScreenData().decorativeMagnet?.name" 
        [image]="this.fullScreenData().image" 
        (close)="closeFullScreen()" />
} 
<app-scroll-to-top />